.clock-container {
    display: flex;
    justify-content: space-between;

    padding: 0px 50px;

    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}